@using System.Linq;
@using System.Collections.Generic;
@using System.Web.Script.Serialization;
@{
    
/* This example no longer works.
    Coord one = new Coord(33.899417, 35.481614);
    Coord two = new Coord(33.899373, 35.481290);
    Coord three = new Coord(33.899395, 35.480890);
    Coord four = new Coord(33.899540, 35.480498);
    Coord five = new Coord(33.899564, 35.480018);
    Coord six = new Coord(33.899600, 35.479581);


    Route r = new Route(one, six);
    r.add_coord(five);
    r.add_coord(three);
    r.add_coord(four);
    r.add_coord(two);

    //JavaScriptSerializer json = new JavaScriptSerializer();
    var json_o = (new JavaScriptSerializer()).Serialize(r);
    */

/*    List<Coord> cs = new List<Coord>();
    string[] lines = File.ReadAllLines(Server.MapPath("/coords.txt"));
    foreach(string line in lines){
        cs.Add(new Coord(Convert.ToDouble(line.Split(',')[1]), Convert.ToDouble(line.Split(',')[0])));  
    }

    Manager m = Manager.getInstance();

    for(int i = 0; i < cs.Count; i++) {
        m.new_reading(cs[i], 3);
    }

    Route R = m.get_van_route(3);
    var json = (new JavaScriptSerializer()).Serialize(R);
    <text>@json</text>

 //   Manager m = Manager.getInstance(); */

 var db = Database.Open("vane");
 var qs = db.Query("SELECT * FROM routes WHERE van_id = @0", 3);
 var q1 = db.QuerySingle("SELECT * FROM route_endpoints WHERE van_id = @0", 3);
 <text>@q1.start_lat,@q1.start_lon <br/></text>
 foreach(var q in qs){
    <text>@q.lat,@q.lon<br/></text>     
 }
 <text>@q1.end_lat,@q1.end_lon<br/></text>

Manager.getInstance().van_route.Keys

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>vané</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
    </body>
</html>
